# Dependencias
node_modules/
__pycache__/
*.pyc
venv/
env/

# Variables de entorno
.env
.env.local

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.env*
!.env.example
.playwright/
/backend/*.db
/backend/*.pyc
/backend/__pycache__
ondasonora/
