# URL del Frontend (CORS)
FRONTEND_URL=http://localhost:3000

# Base de Datos (Local / SQLite)
DATABASE_URL=onda_sonora.db

# Base de Datos (Producción / PostgreSQL)
# DATABASE_URL=postgresql://user:password@localhost:5432/ondasonora

# Base de Datos (Producción / MySQL)
# DATABASE_URL=mysql://user:password@localhost:3306/ondasonora

# Puerto del servidor (Opcional)
PORT=8000
